

<ion-tabs class="tabs-icon" [color]="isAndroid ? 'danger' : 'primary'">
    <ion-tab [root]="tab3Root" tabTitle="contact" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab1Root" tabTitle="QR Scaner" tabIcon="qr-scanner"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab> -->
</ion-tabs>
