<ion-header>
  <ion-navbar [color]="isAndroid ? 'danger' : 'danger'">
    <ion-title>
      J&V
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="justify">
    <h2 align="center">Nosotros</h2>
<p>J&V Autopartes es una empresa cochabambina dedicada a la venta de autopartes; manejando partes automotrices.
Nuestro objetivo es siempre ofrecer productos de calidad, acompañados de un excelente servicio. Somos distribuidores de diferentes productos lo que nos garantiza un amplio surtido en stock.
</p>
<h2 align="center">MISION </h2>
<p>Brindar a todos nuestros clientes productos de calidad a precios competitivos, en la cantidad, lugar y momento requeridos a través de una atención personalizada y un excelente servicio post venta.
</p>
<h2 align="center">VISION </h2>
<p>Ser una empresa de servicio integral por excelencia en la región con personal calificado, en constante capacitación y de continua supervisión, con altos estándares de calidad y tecnología de punta buscando siempre la mejor relación precio-calidad para nuestros clientes.
</p>
<h2 align="center">VALORES </h2>
<p>Experiencia, Honestidad, Profesionalismo y Compromiso.
</p>
  </div>

</ion-content>
