<ion-header>
  <ion-navbar [color]="isAndroid ? 'danger' : 'danger'">
    <ion-title>Scann QR</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div align ="center">
 <button (click)="scan()" ion-button color="danger" outline icon-only>
    <ion-icon name="md-qr-scanner"></ion-icon>
  </button>
  </div>

<div [hidden]="!valueProduct" align = " center">
    <ion-card>
        <img src="{{imagen}}"/>
        <ion-card-content>
          <ion-card-title>
            {{nombre}}
          </ion-card-title>
          <p>
              {{descripcion}}
          </p>
        </ion-card-content>
        <!-- <ion-row no-padding> -->
          <!-- <ion-col>
            <button ion-button clear small color="danger" icon-start>
                <ion-label>Cantidad:</ion-label>
                {{stock}}
            </button>
          </ion-col>

          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
                <ion-label>Precio:</ion-label>
              {{precio_venta}}.Bs
            </button>
          </ion-col>

          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
                <ion-label>Marca:</ion-label>
           {{marca}}
            </button>
          </ion-col> -->
          <!-- </ion-row> -->
          <div class = "card">
              <div class = "item">
                  <ion-label>Cantidad: {{stock}}</ion-label>
              </div>
              <div class = "item ">
                  <ion-label>Precio: {{precio_venta}}.Bs</ion-label>
              </div>
              <div class = "item ">
                  <ion-label>Marca: {{marca}}</ion-label>
                </div>
           </div>



      </ion-card>
      <button (click)="resetProduct()" ion-button color="danger" clear icon-only>
          <ion-icon name='trash' is-active="false"></ion-icon>
        </button>
</div>
</ion-content>



